@import "tailwindcss";

/* własne breakpinty */
@theme {
  --breakpoint-md1: 782px;
  --breakpoint-md2: 550px;
}
body {
  /* font-family: "Archivo"; */
}
:root {
  --primary-color: #e5cd77;
  --secondary-color: #0E3998;
}
